In [103]:
import numpy as np

In [104]:
import pandas as pd

In [105]:
from sklearn.datasets import load_iris

In [106]:
from sklearn.ensemble import RandomForestClassifier

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
np.random.seed(12345)

In [109]:
iris_df = pd.DataFrame(iris.data, columns = iris.feature_names)

In [110]:
iris_target_df = pd.DataFrame(iris.target)

In [111]:
iris = load_iris()

In [112]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [113]:
iris_target_df.head(10000)

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [114]:
iris.data.shape

(150, 4)

In [115]:
iris.target.shape

(150,)

In [116]:
X = iris.data

In [117]:
y = iris.target

In [118]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [119]:
model = RandomForestClassifier()

In [120]:
clf = model.fit(X_train, y_train)

In [121]:
model.score(X_test, y_test)

0.9333333333333333